@import url('../assets/font.css');

#timer-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    #timer {
        margin: auto;
        width: 100%;

        #timer-label {
            display: block;
            text-align: center;
            font-size: 2em;
            border-width: 2px;
            border-style: solid;
            border-radius: 50px;
            width: 35%;
            margin: auto;
        }

        #timer-controls-container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            #time-left {
                margin-left: 0.1em;
                display: block;
                font-family: 'Digital-7';
                font-size: 6em;
            }
        }
    } 
}

.controls {
    cursor: pointer;
}

.controls:hover {
    opacity: 0.5;
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    @keyframes pulse {
        50% {
            transform: scale(1.1);
        }
    }
}

#start-stop {
    font-size: 2.3em;
}

#reset {
    font-size: 1.3em;
}
